{% extends "base/base.html" %}
{% load static %}

{% block title %}Dashboard do Aluno{% endblock %}

<!-- Sidebar -->
{% block sidebar %}
    {% include "sidebar_admin/sidebar.html" %}
{% endblock %}

<!-- Main Content -->
{% block content %}
    {% include "partials/messages.html" %}

    {% if page == "list_students" %}
        {% include "student/list.html" %}
    {% else %}
        {% include "content/content.html" %}
    {% endif %}

    {% include "modals/create_student_modal.html" %}
    {% include "modals/create_teacher_modal.html" %}
{% endblock %}

<!-- Scripts Extras -->
{% block extra_js %}
    <script src="{% static 'js/modal_student/select_grade.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script> 
    <script src="{% static 'js/modal_student/mask.js' %}"></script>  
    <script src="{% static 'js/modal_student/create_student_modal.js' %}"></script>

{% endblock %}