{% extends "base/base.html" %}
{% load static %}

{% block title %}Dashboard do Aluno{% endblock %}

<!-- Sidebar -->
{% block sidebar %}
    {% include "sidebar_admin/sidebar.html" %}
{% endblock %}

<!-- Main Content -->
{% block content %}
    {% include "partials/messages.html" %}

    {% if page == "list_students" %}
        {% include "student/list.html" %}
    {% elif page == "list_teachers" %}
        {% include "teachers/list.html" %}
    {% else %}
        {% include "content/content.html" %}
    {% endif %}

    {% include "modals/student_modal.html" %}
    {% include "modals/teacher_modal.html" %}
{% endblock %}

<!-- Scripts Extras -->
{% block extra_js %}
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/modal/modal-tabs.js' %}"></script>
    <script src="{% static 'js/modal/modal.js' %}"></script>
    <script src="{% static 'js/student/select_grade.js' %}"></script>
    <script src="{% static 'js/mask/mask.js' %}"></script>  
    <script src="{% static 'js/viaCep/cep.js' %}"></script>
{% endblock %}