{% extends 'base_auth.html' %}

{% block content %}
    <!-- Messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- Include Sections to he Login Page -->
    {% include 'login/user.html' %}

    {% if open_modal_forgot == True %}
        {% include 'login/modal_forgot_password/forgot_password.html' %}
    {% endif %}
{% endblock %}