{% load teachers_filters %}

<div class="teacher-page">

    <!-- HEADER / FILTROS -->
    <div class="teacher-header">
        <div class="header-left">
            <h2>Professores</h2>
            <span class="subtitle">
                {{ teachers|length }} professores cadastrados
            </span>
        </div>

        <div class="header-right">
            <div class="header-right">
                <div class="action-bar">
                    <button  class="btn btn-primary" data-open-modal="teacher" style="margin-bottom:0.8rem;">
                        <i class="fas fa-user-plus"></i>
                        <span>Novo Professor</span>
                    </button>
                </div>
            </div>

            <form method="get" class="filter-form form-scroll">
                <input type="text"
                       name="q"
                       placeholder="Buscar professor..."
                       value="{{ request.GET.q }}">

                <select name="education_level">
                    <option value="">Todas as formações</option>
                    <option value="GRADUACAO">Graduação</option>
                    <option value="ESPECIALIZACAO">Especialização</option>
                    <option value="MESTRADO">Mestrado</option>
                    <option value="DOUTORADO">Doutorado</option>
                </select>

                <button type="submit" class="btn btn-primary">
                    Filtrar
                </button>
            </form>
            <a href="{% url 'administrator:list_teachers' %}" class="btn btn-secondary">
                Limpar filtros
            </a>    
        </div>
    </div>

    <!-- TABELA -->
    <div class="table-wrapper">
        <table class="teacher-table">
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>Registro</th>
                    <th>Formação</th>
                    <th>Contrato</th>
                    <th>Data do Contrato</th>
                    <th>Status</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <td>
                        <strong>{{ teacher.first_name }} {{ teacher.last_name }}</strong><br>
                        <small>{{ teacher.email }}</small>
                    </td>

                    <td>{{ teacher.registration_number }}</td>

                    <td>{{ teacher.education_level }}</td>

                    <td>{{ teacher.contract_type }}</td>

                    <td>{{ teacher.hire_date }}</td>

                    <td>
                        {% if teacher.is_active %}
                            <span class="status active">Ativo</span>
                        {% else %}
                            <span class="status inactive">Inativo</span>
                        {% endif %}
                    </td>

                    <td class="actions">
                        <div style="margin-bottom:0.4rem;">
                            <button class="btn btn-primary" 
                            class="btn-edit"
                            data-open-modal="teacher"
                            data-entity="teacher"
                            data-mode="edit"
                            data-id="{{ teacher.id }}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                        </div>

                        <form method="post"
                              style="display:inline;">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-primary"
                                    title="Desativar professor"
                                    style="background-color:red;">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="7" class="empty">
                        Nenhum professor encontrado
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
