
<!-- MODAL CREATE STUDENT -->
<div class="simple-modal-overlay {% if open_student_modal %}active{% endif %}" id="modal-student" data-modal="student">
    <div class="simple-modal">
        <!-- HEADER FIXED -->
        <div class="simple-modal-header form-scroll">
            <h3>Novo Estudante</h3>
            <button class="simple-close" data-close-modal>&times;</button>
        </div>
        <div>
            <form method="post"
                action="{% url 'student:load_student'%}">
                {% csrf_token %}
                <input type="hidden" name="student_id" id="student_id">

                <div class="simple-modal-body ">
                    <!-- Buttons -->
                    <div class="form-tabs">
                        <button type="button" class="tab-btn active" data-tab="personal">Dados Pessoais</button>
                        <button type="button" class="tab-btn" data-tab="academic">Dados Acadêmicos</button>
                        <button type="button" class="tab-btn" data-tab="contact">Contato</button>
                        <button type="button" class="tab-btn" data-tab="address">Endereço</button>
                    </div>

                    <!-- Personal Data -->
                    <div class="tab-content active" id="personal-tab">
                        <div class="simple-form-group">
                            <label>Nome *</label>
                            <input type="text" id="first_name" name="first_name" value="{{student.first_name}}" required>
                        </div>

                        <div class="simple-form-group">
                            <label>Sobrenome *</label>
                            <input type="text" id="last_name" name="last_name" value="{{student.last_name}}" required>
                        </div>

                        <div class="form-row">
                            <div class="simple-form-group">
                                <label>CPF *</label>
                                <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" value="{{student.cpf}}" required>
                            </div>

                            <div class="simple-form-group">
                                <label>RG</label>
                                <input type="text" id="rg" name="rg" value="{{student.rg}}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="simple-form-group">
                                <label>Data de Nascimento *</label>
                                <input type="date" id="date_of_birth" name="date_of_birth" value="{% if student %}{{ student.date_of_birth|date:'Y-m-d' }}{% endif %}" required>
                            </div>

                            <div class="simple-form-group">
                                <label>Gênero *</label>
                                <select id="gender" name="gender" required>
                                    <option value="">Selecione</option>
                                    <option value="M" {% if student.gender == "M"%}selected{% endif %}>Masculino</option>
                                    <option value="F" {% if student.gender == "F"%}selected{% endif %}>Feminino</option>
                                    <option value="O" {% if student.gender == "O"%}selected{% endif %}>Outro</option>
                                    <option value="N" {% if student.gender == "N"%}selected{% endif %}>Prefiro não informar</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Academic Information -->
                    <div class="tab-content" id="academic-tab">
                        <div class="simple-form-group">
                            <label>Número de Matrícula *</label>
                            <input type="text" id="enrollment_number" name="enrollment_number" value="{% if student %}{{student.enrollment_number}} {% else %} {{ enrollment}} {% endif %}" readonly>
                        </div>

                        <div class="form-row">
                            <div class="simple-form-group">
                                <label>Nível de Ensino *</label>
                                <select id="grade_level" name="grade_level" required>
                                    <option value="">Selecione</option>
                                    <option value="INFANTIL" {% if student.grade_level == "INFANTIL" %} selected{% endif %}>Educação Infantil</option>
                                    <option value="FUNDAMENTAL1" {% if student.grade_level == "FUNDAMENTAL1" %} selected{% endif %}>Ensino Fundamental I</option>
                                    <option value="FUNDAMENTAL2" {% if student.grade_level == "FUNDAMENTAL2" %} selected{% endif %}>Ensino Fundamental II</option>
                                    <option value="MEDIO" {% if student.grade_level == "MEDIO" %} selected{% endif %}>Ensino Médio</option>
                                    <option value="SUPERIOR" {% if student.grade_level == "SUPERIOR" %} selected{% endif %}>Ensino Superior</option>
                                </select>
                            </div>

                            <div class="simple-form-group">
                                <label>Série/Ano *</label>
                                <select id="specific_grade" name="specific_grade" required>
                                    <option value="">Selecione</option>
                                
                                    <option value="1ANO" {% if student.specific_grade == '1ANO' %}selected{% endif %}>1º Ano</option>
                                    <option value="2ANO" {% if student.specific_grade == '2ANO' %}selected{% endif %}>2º Ano</option>
                                    <option value="3ANO" {% if student.specific_grade == '3ANO' %}selected{% endif %}>3º Ano</option>
                                    <option value="4ANO" {% if student.specific_grade == '4ANO' %}selected{% endif %}>4º Ano</option>
                                    <option value="5ANO" {% if student.specific_grade == '5ANO' %}selected{% endif %}>5º Ano</option>
                                    <option value="6ANO" {% if student.specific_grade == '6ANO' %}selected{% endif %}>6º Ano</option>
                                    <option value="7ANO" {% if student.specific_grade == '7ANO' %}selected{% endif %}>7º Ano</option>
                                    <option value="8ANO" {% if student.specific_grade == '8ANO' %}selected{% endif %}>8º Ano</option>
                                    <option value="9ANO" {% if student.specific_grade == '9ANO' %}selected{% endif %}>9º Ano</option>
                                
                                    <option value="1MEDIO" {% if student.specific_grade == '1MEDIO' %}selected{% endif %}>1º Ano EM</option>
                                    <option value="2MEDIO" {% if student.specific_grade == '2MEDIO' %}selected{% endif %}>2º Ano EM</option>
                                    <option value="3MEDIO" {% if student.specific_grade == '3MEDIO' %}selected{% endif %}>3º Ano EM</option>
                                </select>
                                
                            </div>
                        </div>

                        <div class="simple-form-group">
                            <label>Turno *</label>
                            <select id="shift" name="shift" required>
                                <option value="">Selecione</option>
                                <option value="MATUTINO" {% if student.shift == 'MATUTINO' %}selected{% endif %}>Matutino</option>
                                <option value="VESPERTINO" {% if student.shift == 'VESPERTINO' %}selected{% endif %}>Vespertino</option>
                                <option value="NOTURNO" {% if student.shift == 'NOTURNO' %}selected{% endif %}>Noturno</option>
                                <option value="INTEGRAL" {% if student.shift == 'INTEGRAL' %}selected{% endif %}>Integral</option>
                            </select>
                        </div>
                    </div>

                    <!-- Contact Info -->
                    <div class="tab-content" id="contact-tab">
                        <div class="form-row">
                            <div class="simple-form-group">
                                <label>Nome do Pai</label>
                                <input type="text" id="father_name" name="father_name" value="{{student.father_name}}">
                            </div>

                            <div class="simple-form-group">
                                <label>Nome da Mãe</label>
                                <input type="text" id="mother_name" name="mother_name" value="{{student.mother_name}}">
                            </div>
                        </div>

                        <div class="simple-form-group">
                            <label>Responsável</label>
                            <input type="text" id="guardian_name" name="guardian_name" value="{{student.guardian_name}}">
                        </div>

                        <div class="simple-form-group">
                            <label>E-mail *</label>
                            <input type="email" id="email" name="email" value="{{student.email}}" required>
                        </div>

                        <div class="simple-form-group">
                            <label>Telefone *</label>
                            <input type="text" id="phone" name="phone" placeholder="(00) 00000-0000" value="{{student.phone}}" required>
                        </div>

                        <div class="simple-form-group">
                            <label>Telefone do Responsável</label>
                            <input type="text" id="guardian_phone" name="guardian_phone" placeholder="(00) 00000-0000" value="{{student.guardian_phone}}">
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="tab-content" id="address-tab">
                        <div class="simple-form-group">
                            <label>Endereço *</label>
                            <input type="text" id="address" name="address" value="{{student.address}}" required>
                        </div>

                        <div class="form-row">
                            <div class="simple-form-group">
                                <label>Número *</label>
                                <input type="text" id="address_number" name="address_number" value="{{student.address_number}}" required>
                            </div>

                            <div class="simple-form-group">
                                <label>Complemento</label>
                                <input type="text" id="complement" name="complement" value="{{student.complement}}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="simple-form-group">
                                <label>Bairro *</label>
                                <input type="text" id="neighborhood" name="neighborhood" value="{{student.neighborhood}}" required>
                            </div>

                            <div class="simple-form-group">
                                <label>CEP *</label>
                                <input type="text" id="zip_code" name="zip_code" placeholder="00000-000" value="{{student.zip_code}}" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="simple-form-group">
                                <label>Cidade *</label>
                                <input type="text" id="city" name="city" value="{{student.city}}" required>
                            </div>

                            <div class="simple-form-group">
                                <label>Estado *</label>
                                <input type="text" id="state" name="state" placeholder="SP" maxlength="2" value="{{student.state}}" required>
                            </div>
                        </div>
                    </div>

                    <!-- Navegation Controls -->
                    <div class="tab-navigation">
                        <button type="button" class="btn-cancel" onclick="prevTab()">Anterior</button>
                        <span class="tab-indicator">Página <span id="current-tab">1</span> de 4</span>
                        <button type="button" class="btn-next" onclick="nextTab()">Próximo</button>
                    </div>
                </div>

                <div class="simple-modal-footer">
                    <div>
                        <a type="button" class="btn-cancel" href="#"> Cancelar</a>
                    </div>
                    <button type="submit" class="btn-save" id="submit-btn">Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>  