<!-- student/list.html -->
{% load student_filters %}
<div class="student-page">
    <!-- HEADER / FILTROS -->
    <div class="student-header">
        <div class="header-left">
            <h2 class=" ">Alunos</h2>
            <span class="student-len">
                {{ students|length }}</span> 
                <span>alunos cadastrados
            </span>

            <div class="header-right">
                <div class="action-bar">
                    <button id="openStudentModal" class="btn btn-primary" data-open-modal="student">
                        <i class="fas fa-user-plus"></i>
                        <span>Novo Estudante</span>
                    </button>
                </div>
            </div>
            
        </div>

        <div class="header-right">
            <form method="get" class="filter-form">

                <input type="text"
                       name="q"
                       placeholder="Buscar aluno..."
                       value="{{ request.GET.q }}">

                <select name="level">
                    <option value="">Todos os níveis</option>
                    <option value="FUNDAMENTAL1" {% if request.GET.level == "FUNDAMENTAL1" %}selected {% endif %}>Fundamental I</option>
                    <option value="FUNDAMENTAL2" {% if request.GET.level == "FUNDAMENTAL2" %}selected {% endif %}>Fundamental II</option>
                    <option value="MEDIO" {% if request.GET.level == "MEDIO" %}selected {% endif %}>Ensino Médio</option>
                    <option value="SUPERIOR" {% if request.GET.level == "SUPERIOR" %}selected {% endif %}>Ensino Superior</option>
                </select>

                <button type="submit" class="btn btn-primary">
                    Filtrar
                </button>
            </form>
            <a href="#" class="btn btn-secondary" id="resetFilters">
                Limpar filtros
            </a>
            
        </div>
    </div>

    <!-- TABELA -->
    <div class="table-wrapper">
        <table class="student-table">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Matrícula</th>
                    <th>Nível</th>
                    <th>Ano</th>
                    <th>Turno</th>
                    <th>Status</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                <tr>
                    <td>
                        <strong>{{ student.first_name }} {{student.last_name}}</strong><br>
                        <small>{{ student.email }}</small>
                    </td>

                    <td>{{ student.enrollment_number }}</td>

                    <td>{{ student.grade_level|get_grade_level_display }}</td>

                    <td>{{ student.specific_grade|get_grade_display }}</td>

                    <td>{{ student.shift|get_shift_display }}</td>

                    <td>
                        {% if student.is_active %}
                            <span class="status active">Ativo</span>
                        {% else %}
                            <span class="status inactive">Inativo</span>
                        {% endif %}
                    </td>

                    <td class="actions">
                        <div>
                            <a class="btn-icon edit" href="{% url 'administrator:openModal_edit' student.id %}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </div>

                        <form method="post"
                              action="{% url 'administrator:deactivate_student' student.id %}"
                              style="display:inline;">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn-icon delete"
                                    title="Desativar aluno">
                                    <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="empty">
                        Nenhum aluno encontrado
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
